/* Exo 1 */

.ex1 {
    display: inline-block;
    position: relative;
}

.ex1::after {
    content: " ";
    position: absolute;
    left: 0;
    display: inline-block;
    height: 5px;
    width: 0%;
    bottom: -5px;
    transition: transform 3s;
    transform: scaleX(0);
    transform-origin: left;
}

.ex1:hover::after {
    transform: scaleX(1);
    width: 100%;
    background-color: orangered;
}

/* Correction Exo 1 - Gauthier */

/* h1 {
    padding: 0;
    margin: 0;
}

#exo1 {
    position: fixed;
    top: 0px;
}

#exo1:hover::after {
    content: "";
    display: block;
    border-bottom: chocolate solid 5px;
    animation: born 2s;
}

@keyframes born {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
} */

/* fin Exo 1 */

/* Exo 2 */


.ex2 {
    display: inline-block;
    position: relative;
}

.ex2::after {
    content: " ";
    position: absolute;
    left: 0;
    display: inline-block;
    height: 5px;
    bottom: -5px;
    width: 0%;
    background-color: orangered;
    transition: transform 3s;
    transform-origin: center;
    transform: scaleX(0);
}

.ex2:hover::after {
    transform: scaleX(1);
    width: 100%;
    left: 0;
    background-color: orangered;
}

/* Correction Exo 2 - Gauthier */

/* #exo2 {
    position: fixed;
    top: 50px;
}

#exo2:hover::after {
    content: "";
    display: block;
    border-bottom: chocolate solid 5px;
    animation: open 2s;
}

@keyframes open {
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
} */

/* fin Exo 2 */

/* Exo 3 */

.ex3 {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.ex3::after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 0%;
    background-color: orangered;
    transition: transform 3s;
    transform-origin: bottom;
    transform: scaleY(0);
}

.ex3:hover::after {
    transform: scaleY(1);
    width: 100%;
    left: 0;
    height: 1em;
    background-color: orangered;
    z-index: -1;
}

/* Correctio exo 3 - Gauthier */

/* #exo3 {
    position: fixed;
    top: 100px;
}

#exo3:hover::after {
    content: "";
    display: block;
    background-color: chocolate;
    animation: scan 2s forwards;
    z-index: -1;
    position: relative;
    width: 100%;
}

@keyframes scan {
    0%{
        top: 0px;
        height: 0px;
    }
    100%{
        top: -28px;
        height: 28px;
    }
} */



/* fin Exo 3 */